NET "clk" LOC = R10; 
NET "rst_n" LOC = T2;
NET "Do" LOC = N3;
NET "Re" LOC = P4;
NET "Mi" LOC = P3;
NET "loud" LOC = L6;
NET "quiet" LOC = M5;

NET "audio_appsel" LOC = H18;
NET "audio_bck" LOC = K16;
NET "audio_data" LOC = L16;
NET "audio_sysclk" LOC = H17;
NET "audio_ws" LOC = L15;


NET "LED[15]" LOC = H5;
NET "LED[14]" LOC = H6;
NET "LED[13]" LOC = F1;
NET "LED[12]" LOC = F2;
NET "LED[11]" LOC = J6;
NET "LED[10]" LOC = J7;
NET "LED[9]" LOC = G1;
NET "LED[8]" LOC = G3;
NET "LED[7]" LOC = K6;
NET "LED[6]" LOC = L7;
NET "LED[5]" LOC = H3;
NET "LED[4]" LOC = H4;
NET "LED[3]" LOC = K5;
NET "LED[2]" LOC = L5;
NET "LED[1]" LOC = K3;
NET "LED[0]" LOC = K4;



NET "ftsd_ctl[3]" LOC = T6;
NET "ftsd_ctl[2]" LOC = V6;
NET "ftsd_ctl[1]" LOC = U8;
NET "ftsd_ctl[0]" LOC = V8;
NET "display[14]" LOC = P6;
NET "display[13]" LOC = N4;
NET "display[12]" LOC = V5;
NET "display[11]" LOC = T5;
NET "display[10]" LOC = U7;
NET "display[9]" LOC = R3;
NET "display[8]" LOC = N5;
NET "display[7]" LOC = R5;
NET "display[6]" LOC = T3;
NET "display[5]" LOC = T4;
NET "display[4]" LOC = V4;
NET "display[3]" LOC = V7;
NET "display[2]" LOC = R7;
NET "display[1]" LOC = T7;
NET "display[0]" LOC = U5;